#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is no longer capable of backing up

# compulsory question
db_get lava-server/migration
if [ "$RET" = "false" ]; then
	# Note that the config script is run before the package is unpacked. 
	# this will cause a failed package installation.
	echo "Check the documentation for how to prepare for the removal of V1 data"
	exit 1
fi
db_input critical lava-server/migration || true
db_go
db_get lava-server/migration
if [ "$RET" = "false" ]; then
	# Note that the config script is run before the package is unpacked. 
	# this will cause a failed package installation.
	exit 1
fi

# if there is existing config for master
if [ -f /etc/lava-server/instance.conf ]; then
	. /etc/lava-server/instance.conf
	if [ "$LAVA_INSTANCE" != 'default' ]; then
		db_set lava-server/instance-name "$LAVA_INSTANCE"
	fi
	if [ "$LAVA_DB_PORT" != '$LAVA_DB_PORT' ]; then
		db_set lava-server/db-port "$LAVA_DB_PORT"
	fi
	exit
fi

db_input medium lava-server/db-port || true
db_input medium lava-server/instance-name || true
db_go

